h1{
    color : red;

}
*{
    border : dashed;
}
.header{
    background-color: salmon;
    display : flex ;
    justify-content: space-between;
}
.grid{
    display : flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}